@model LivrariaControleEmprestimo.DATA.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Livro</h1>

<h4>Preencha os campos abaixo pra incluir um novo livro</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card">
                <div class="card-header">Descrição</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Autor" class="control-label"></label>
                            <input asp-for="Autor" class="form-control" />
                            <span asp-validation-for="Autor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Editora" class="control-label"></label>
                            <input asp-for="Editora" class="form-control" />
                            <span asp-validation-for="Editora" class="text-danger"></span>
                        </div>
                    </div>
                 
                </div>
            </div>
           

            <br />
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
